@{
    ViewData["Title"] = "Meu Carrinho";
}

<link href="~/css/carrinho.css" rel="stylesheet" />
<main>
    <div class="page-title">Seu Carrinho</div>
    <div class="content">
        <button class="btn btn-success" onclick="addProdutoNovo()">Adicionar produto</button>
        <section>
            <table>
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Preço</th>
                        <th>Quantidade</th>
                        <th>Total</th>
                        <th>-</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </section>
        <aside>
            <div class="box">
                <header>Resumo da compra</header>
                <div class="info">
                    <div><span>Sub-total</span><span>R$ 0</span></div>
                    <div><span>Frete</span><span>R$ 0</span></div>
                    <div>
                        <button>
                            Adicionar cupom de desconto
                            <i class="bx bx-right-arrow-alt"></i>
                        </button>
                    </div>
                </div>
                <footer>
                    <span>Total</span>
                    <span>R$ 0</span>
                </footer>
            </div>
            <button>Finalizar Compra</button>
        </aside>
    </div>
</main>